<div class="container">
        <div class ="jumbotron">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Listado de Roles Agregadas</h5>
                </div>
                <div class="card-body">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        {{#each roles}}
            <tbody>
            <tr>
                <td>
                    {{id}}
                </td>
                <td>
                    {{nombre}}
                </td>
                <td>
                    {{nivel}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary"><a href="/roles/edit/{{id}}">Editar</a></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger"><a href="/roles/delete/{{id}}">Borrar</a></button>
                </td>
            </tr>
            </tbody>
        {{/each}}
    </table>
</div>
</div>
</div>
</div>