<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Observación</th>
            <th>Editar</th>
            <th>Borrar</th>
            <th>Cambiar estado</th>
        </tr>
        {{#each tareas}}
            <tr>
                <td>
                    <h4>{{id}}</h4>
                </td>
                <td>
                    <h4>{{titulo}}</h4>
                </td>
                <td>
                    <h4>{{descripcion}}</h4>
                </td>
                <td>
                    <h4>{{tiempo_tarea}}</h4>
                </td>
                <td>
                    <h4>{{tipo_tarea}}</h4>
                </td>
                <td>
                    <h4>{{estado_tarea}}</h4>
                </td>
                <td>
                    <h4>{{observacion}}</h4>
                </td>
                <td>
                    <a href="/tasks/edit/{{id}}">Editar</a>
                </td>
                <td>
                    <a href="/tasks/delete/{{id}}">Borrar</a>
                </td>
                <td>
                    <a href="/tasks/can_fin/{{id}}">Finalizar/Cancelar</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>