<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Nacio hace</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
        {{#each usuarios}}
            <tr>
                <td>
                    <h4>{{id}}</h4>
                </td>
                <td>
                    <h4>{{cedula}}</h4>
                </td>
                <td>
                    <h4>{{nombre}}</h4>
                </td>
                <td>
                    <h4>{{apellido}}</h4>
                </td>
                <td>
                    <h4>{{correo_electronico}}</h4>
                </td>
                <td>
                    <h4>{{timeago fecha_nacimiento}}</h4>
                </td>
                <td>
                    <h4>{{estado}}</h4>
                </td>
                <td>
                    <a href="/tasks/edit/{{id}}">Editar</a>
                </td>
                <td>
                    <a href="/tasks/delete/{{id}}">Borrar</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>