<div>
    <div>
        <div>
            <div>
                <form action="/auth/edit/{{usuario.id}}" method="POST">
                    <div>
                        <input type="text" value="{{usuario.cedula}}" name="cedula" placeholder="Cédula" autofocus required>
                    </div>
                    <div>
                        <input type="text" value="{{usuario.nombre}}" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div>
                        <input type="text" value="{{usuario.apellido}}" name="apellido" placeholder="Apellido" required>
                    </div>
                    <div>
                        <input type="email" value="{{usuario.correo_electronico}}" name="correo_electronico" placeholder="Correo electrónico" required>
                    </div>
                    <div>
                        <input type="text" value="{{usuario.celular}}" name="celular" placeholder="Celular" required>
                    </div>
                    <div>
                        <select name="rol_id">
                            <option value="1" {{isSelected 1 usuario.rol_id}}>Supervisor</option>
                            <option value="2" {{isSelected 2 usuario.rol_id}}>Empleado</option>
                        </select>
                    </div>
                    <div>
                        <input type="date" value="{{usuario.fecha_nacimiento}}" name="fecha_nacimiento" required>
                    </div>
                    <div>
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  