<div>           {{!-- Podremos listar nuestros enlaces --}}      
    <table border="1">
        <tr>
            <th>Id</th>           {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Cedula</th>       {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Nombre</th>        {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Apellido</th>     {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Correo</th>       {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Nacio hace</th>    {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Estado</th>        {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Editar</th>       {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
            <th>Borrar</th>          {{!-- Define la celda como encabezado de un grupo de celdas en la tabla. --}}
        </tr>
        {{#each usuarios}}
            <tr>
                <td>
                    <h4>{{id}}</h4>   {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <h4>{{cedula}}</h4>    {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <h4>{{nombre}}</h4>     {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td> 
                    <h4>{{apellido}}</h4>     {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <h4>{{correo_electronico}}</h4>      {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <h4>{{fecha_nacimiento}}</h4>     {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <h4>{{estado}}</h4>        {{!-- Nos ayuda para establecer como titulos o subtitulos --}}
                </td>
                <td>
                    <a href="/auth/edit/{{id}}">Editar</a>     
                </td>
                <td>
                    <a href="/auth/delete/{{id}}">Borrar</a>     
                </td>
            </tr>
        {{/each}}
    </table>
</div>
